.navbar-brand, .navbar-expand-lg, .nav-link {
	color: white !important;
}

span {
	color: white;
}

.nav-link:hover {
	color: grey !important;
}

.header {
	text-align: center;
	background-image: url(./images/resized012new.jpg);
	background-size: cover;
	height: 500px;
	color: white;
	padding-top: 20px;
}

.btn-lg {
	width: 100px;
}