.navbar-brand, .navbar-expand-lg, .nav-link {
	color: white !important;
}

span {
	color: white;
}

.nav-link:hover {
	color: grey !important;
}

.header {
	text-align: center;
	background-image: url(./images/resized012new.jpg);
	background-size: cover;
	height: 500px;
	color: white;
}

hr {
	background-color: white;
}

.btn-outline-light {
	border: 1px solid white;
}

.aspectRatioBox {
	padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
}

.main a {
	color: black;
}

.main a:hover {
	color: grey;
	text-decoration: none;
}





