.navbar-brand {
	color: white !important;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: grey !important;
}

.header {
	text-align: center;
	background-image: url(./images/resized012new.jpg);
	background-size: cover;
	height: 500px;
	color: white;
	padding-top: 20px;
}